# Settings for OpenAIClient
OPENAI_MODEL="<model>" # e.g. gpt-4.1
OPENAI_EMBEDDING_MODEL="<model>" # e.g. text-embedding-3-small
OPENAI_API_KEY="<key>" # Your OpenAI API key
OPENAI_BASE_URL="<url>" # [optional] Custom API endpoint, e.g. for llama.cpp server
OPENAI_ORGANIZATION="<org-id>" # [optional] OpenAI organization ID
OPENAI_MAX_PARALLEL_REQUESTS=<integer> # [optional] How many simultaneous chat requests to all. (default: 0 [no max])

# Settings for NcbiLookupClient
# If NcbiLookupClient is used and these settings are omitted, NCBI calls are rate-limited to 3rps instead of 10rps.
NCBI_EUTILS_API_KEY="<key>" # [optional] NCBI API key
NCBI_EUTILS_EMAIL="<email>" # [optional] Email address associated with key

# Settings for MongoDBCachingWebClient
EVAGG_CONTENT_CACHE_ENDPOINT="<host>:<port>" # MongoDB server address (e.g. localhost:27017)
EVAGG_CONTENT_CACHE_USERNAME="<username>" # [optional] MongoDB username
EVAGG_CONTENT_CACHE_PASSWORD="<password>" # [optional] MongoDB password
EVAGG_CONTENT_CACHE_DATABASE="<database>" # [optional] MongoDB database name (default: "document_cache")
EVAGG_CONTENT_CACHE_COLLECTION="<collection>" # [optional] MongoDB collection name (default: "cache")
